LAB/Lab5_CNN/images/img_align_celeba/
LAB/Lab6_Hyperparameter-Tuning/img_align_celeba/
LAB/Lab6_Hyperparameter-Tuning/ray_results
LAB/Lab7_Data-Augmentation-CNN/Lab7_2_Thai-Handwriting-Number_Dataset
LAB/Lab8_TransferLearning-MultitaskLearning/runs
LAB/Lab8_TransferLearning-MultitaskLearning/data